*:not(i) {
    font-family: 'Lato'
}

body {
    margin: 50px 100px;
}

.title-logo {
    display: flex;
    margin: auto;
}

.fa.fa-search {
    position: absolute;
    right: 20px;
    top: 50%;
    bottom: 50%;
    margin-top: auto;
    margin-bottom: auto;
    color: black;
    font-size: 32px;
    width: 32px;
    height: 32px;
}

.search-bar-container {
    display: block;
    position: relative;
}

#search-recipe {
    width: 100%;
    padding: 20px;
    background-color: #e7e7e7;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    height: 69px;
}

nav {
    margin: 20px 0;
    display: flex;
    gap: 20px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.filter-item {
    flex: 1 1 30%;
    font-size: 18px;
    line-height: 22px;
    padding: 5px;
    
}
.filter-text{
    cursor: pointer;
    margin: 0;
    padding: 0;
    width: fit-content;
}


.dropdown-ingredients,
.dropdown-ustensiles,
.dropdown-appareils {
    display: none;
    position: absolute;
    width: 667px;
    max-height: 328px;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    flex-wrap: wrap;
    color: white;
    border-radius: 0 0 5px 5px;
}

.dropdown-ingredients::-webkit-scrollbar,
.dropdown-ustensiles::-webkit-scrollbar,
.dropdown-appareils::-webkit-scrollbar {
    display: none;
}

.dropdown-ingredients {
    background-color: #3282F7;
}

.dropdown-ustensiles {
    background-color: #ED6454;
}

.dropdown-appareils {
    background-color: #68D9A4;
}

#ingredients-btn {
    background-color: #3282F7;
}

.active-filter-list{
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.ingredient-filter-item {
    background-color: #3282F7;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 37px;
    font-size: 14px;
}

.appareil-filter-item {
    color: white;
    background-color: #68D9A4;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 37px;
    font-size: 14px;
}

.ustensil-filter-item {
    background-color: #ED6454;
    color: white;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 37px;
    font-size: 14px;
}

#appareils-btn {
    background-color: #68D9A4;
}

#ustensiles-btn {
    background-color: #ED6454;
}

.filter-btn {
    padding: 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 170px;
    height: 69px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filter-btn input {
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 18px;
    font-weight: bold;
    overflow: hidden;
    width: 100%;
}

.filter-btn input::placeholder,
.filter-btn i {
    color: white;
}

#recipe-list {
    display: flex;
    flex-wrap: wrap;
    gap: 23px;
}

.recipe-card {
    display: flex;
    flex-direction: column;
    flex: 1 0 calc(25% - 10px);
    border-radius: 10px;
    margin: 0;
    overflow: hidden;
    height: 360px;
}

.recipe-card-picture {
    background-color: #C7BEBE;
    flex: 1 0 50%;
}

.recipe-card-details {
    padding: 0px 20px;
    justify-content: space-between;
    background-color: #E7E7E7;
    flex: 1 0 50%;
}

.recipe-card-title {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
    white-space: nowrap;
    text-overflow: ellipsis;
    gap: 20px;
}

.recipe-card-name {
    font-weight: lighter;
    text-overflow: ellipsis;
    overflow: hidden;
}

.recipe-card-title h2 {
    font-size: 18px;
}

.recipe-process {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.recipe-process>* {
    flex: 1 0 calc(50% - 10px);
}

.recipe-ingredients {
    line-height: 14.4px;
    font-weight: bold;
    font-size: 12px;
}

.recipe-description {
    display: -webkit-box;
    -webkit-line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 12px;
    line-height: 12px;
    max-height: 72px;
    font-family: 'Roboto';
}